<h3>Panier : </h3>
<hr>
<div class="row">
    <ul class="col-12 list-group">
        <li class="list-group-item" *ngFor="let ingredient of ingredients">
            {{ ingredient.name }}
            <span class="badge bqdge-primary badge-pill float-right ml-auto"> {{ ingredient.quantity }} </span>
        </li>
    </ul>
</div>
