<div class="row">
  <div class="list-group col-12">
    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Chercher un Cocktail...">
    <hr>
    <a *ngFor="let cocktail of cocktails | filter:search ; let index = index"
       [routerLink]="[index]"
       routerLinkActive="active"
       class="list-group-item list-group-action">{{ cocktail.name }}
    </a>
  </div>
</div>
<hr>
<div class="row">
  <button class="btn btn-success col-12" [routerLink]="['new']">
    Ajouter un Cocktail
  </button>
</div>
