<div *ngIf="cocktail">
  <div class="row">
    <div class="col-4">
      <img [src]="cocktail.img" [alt]="cocktail.name" class="img-fluid" style="max-height: 150px">
    </div>
    <h3 class="col-8">{{ cocktail.name }}</h3>
  </div>
  <hr>
  <div class="row">
    <p class="col-12">{{ cocktail.desc }}</p>
  </div>
  <hr>
  <div class="row">
    <ul class="list-group col-12">
      <li class="list-group-item list-group-action" *ngFor="let ingredient of cocktail.ingredients">
        {{ ingredient.name }} <span class="badge badge-primary badge-pill float-right ml-auto"> {{ ingredient.quantity }}</span>
      </li>
    </ul>
  </div>
  <hr>
  <div class="row">
    <button type="button" class="btn btn-success" [routerLink]="getUrl()">Editer le Cocktail</button>
    <button class="btn btn-secondary ml-auto mr-3" (click)="addPanier(cocktail.ingredients)" >Ajoutez au panier</button>
  </div>
</div>
